$footer-bgcolor: #66b2b2;


.footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: $footer-bgcolor;

    .footer__contain{
        padding: 30px 10px;
        position: relative;
        display: flex;

        .footer__item{
            padding: 10px 10px;

            .f-item__h1{
                font-size: 1.3em;
                font-weight: 400;
                padding: 10px 0;
            }
            .f-item__p{     
                padding-bottom: 10px;
            }

            .f-item__link{
                text-decoration: none;
                color: blue;
                font-weight: 300;
            }
        }
    }
}



